@import "../config/settings";
body {
  width: 100%;
  background: $background-color;
  margin: auto;
  font-family: $font-family;
  color: $white;
}
.container {
  width: 1200px;
  margin: auto;
  padding:0 27px;
  background: $background-color;
}
li {
  display: inline-block;
  list-style-type: none;

}
a {
  color: #fff;
}

.substrate {
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 40px;

}