.about {
  background: #ece4d1 url("..//images/sprite/wafer.png") repeat;
  color: #353535;
  &__top {

    font-size: 24px;
    font-weight: 500;
  }
  &__bottom {
    display: flex;

    &-column {
      width:100%;
      display: flex;

    }
    &-column:last-child {
      margin-right: 0;
    }
  }
  &__advantages {
    display: flex;
    width: 50%;
    margin-right: 30px;
    margin-top: 30px;
  }
  &__icon {
    margin-right: 20px;
  }
}



