.goods {
  display: flex;
  width: 100%;
  padding: 40px 0;
  &__good {
    width: 25%;
    margin-right: 20px;
  }
  &__good:last-child {
    margin-right: 0;
  }
  &__product {
    position: relative;
    width: 100%;
    text-align: center;
    &-hit {
      position: absolute;
      top: 0;
      left: 10px;
    }
    &-icecream {
      margin-bottom: 30px;
    }

    span {
      font-size: 45px;
      font-weight: bold;
      position: absolute;
      left: 0;
      bottom: 85px;
    }
    a {
      font-size: 16px;
      text-decoration:underline;
    }
  }
}