.header {
  &__left {
    display: flex;
  }
  &__top {
    display: flex;
    justify-content:space-between;
    line-height: 55px;
  }
  &__logo {

  }
  &__menu {

    &-var {
      list-style-type: none;
      li {
        display: inline-block;
        margin: 0 15px;
        font-size: 16px;
      }
    }
  }
  &__user {
    font-size: 14px;

    &-searc {

    }
    &-login {

    }
    &-basket {

    }
  }
  &__bottom {
    color: #fff;
    &-mode {
      display: flex;
      justify-content:flex-end;
    }
    &-coll {
      display: flex;
      justify-content:flex-end;
    }
  }
  &__button {
    display: inline-block;
    background: #ffffff;
    opacity: 0.2;
  }
}