.header {
  @include clearfix;
  &__logo {
    float: left;
    display: block;
    width: 154px;
    height: 64px;
  }
  &__menu {
    float:left;
    display: block;
    &-item {

    }
  }
  &__right {
    float:right;
    display: block;
    &-search {

    }
    &-user {

    }
    &-cart {

    }
  }
}